<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Wetter Klagenfurt </h1>
    <h2><%= tempKl %></h2>
    <h2><%= weatherKl %></h2>

    <h1>Wetter Zürich </h1>
    <h2><%= tempZü %></h2>
    <h2><%= weatherZü %></h2>

    <h1>Wetter Zambratija </h1>
    <h2><%= tempZa %></h2>
    <h2><%= weatherZa %></h2>
    
</body>
</html>