<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookBlog</title>
    <link rel="stylesheet" href="style/styles.css">
</head>
<body>
    <header>
        <h1>BookBlog</h1>
        <form action="/create">
            <button type="submit">Create new Blog</button>
        </form>
    </header>

    <div class="container">
        <% data.forEach(row => { %>
            <div class="blog-item">
                <h2><%= row.title %></h2>
                <p><%= row.describtion %></p>
                <p>Rating: <%= row.rating %>/10</p>
                <p>Published on: <%= row.time %></p>
                <form action="/delete" method="POST">
                    <button type="submit" name="deleteItemId" value="<%= row.id %>">Delete</button>
                </form>
                <form action="/edit" method="POST">
                    <button type="submit" name="editItemId" value="<%= row.id %>">Edit</button>
                </form>
            </div>
        <% });  %>
    </div>
</body>
</html>
